#title{
  background-color: #ff4c68;
}

.container-fluid{
  padding: 3% 15%;
}
.pad{
  padding: 0;
}
.navbar{
  padding: 0 ;
}
.navbar-brand{
  font-family: ubuntu;
  font-size: 2rem;
}
.nav-item{
  padding: 0 1rem;
  font-family: ubuntu;
  font-weight:300;
}
.button-style{
  margin-top: 10%;
  margin-right: 2%;
  margin-bottom: 5%;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight:bold;
  color: #ffffff;
}

.h3-feat{
  font-family: Montserrat;
  font-weight:900;

}

.fontawe{
   color:#ef8172;
   margin-bottom: 1rem;
 }

.fontawe:hover{
  color: #ff4c68;
}

.title-img{
  max-width: 60%;
  transform: rotate(25deg);
  position: absolute;
  max-height: 80%;
  right: 20%;
}

#features{
  padding: 15% 3% 0;
  margin-bottom: 0;
  position: relative;
  background-color: #ffff;
}

.p-feat{
  color: #8f8f8f;
  text-align: center;
  width: 65%;
  margin: auto;
}

.feature-sec{
  margin-bottom: 20%;
}

#testimonials{
  background-color: #ef8172;
  text-align: center;
}

.testimonial-text{
  font-family: Montserrat;
  font-weight: 900;
  color: #ffff;
  line-height: 1.5;
}

.testimonial-image{
  border-radius: 100%;
  width: 10%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carousel-item{
    padding: 7% 13%;
}

#press{
  background-color: #ef8172;
  padding: 5% 7%;
  text-align: center;
}

.press-image{
  width: 15%;
}

#pricing{
  padding: 5% 7%;
  text-align: center;
}
 .pricing-card{
   margin: 3% 1%;
 }

h2{
    font-family: Montserrat;
    font-weight: 900;
}
 @media (max-width:1028px) {
   .title-img{
     transform: rotate(0);
     position: static;
   }
     .container-fluid{
       text-align: center;
     }
 }


#cta{
  background-color: #ff4c68;
  color: #ffff;
  padding: 10% 20%;
  text-align: center;
  font-family: Montserrat;

}

.fotter-h3{
    line-height: 1.5;
    font-size: 2.5rem;
      font-weight:bold;
      letter-spacing: 1.5px;
}

.footer-button{
    font-weight: 900;
    margin: 5% 1% 0;
}

#footer{
  text-align:center;
  margin: 7% auto;
}

.footer-icon{
  margin: 1%;
}

.footerp{
  font-family: Montserrat;
  font-weight: lighter;
}
